{% extends "@front/layout.html.twig" %}
 {% block seo %}
     {{ parent() }}
     <title>{{ 'Прошедшие Акции'|trans({}, 'promotions') }}</title>
 {% endblock %}
{% block content %}

    <section>
        <!-- less: s_breadcrumbs.less -->
        <figure class="breadCrumbs">
            <nav>
                <span><a href="{{ path('front_homepage') }}">VulkanoGames</a></span>
                <span><a href="{{ path('promotions_list') }}">{{ 'Акции'|trans({}, 'promotions') }}</a></span>
                <span>{{ 'Прошедшие Акции'|trans({}, 'promotions') }}</span>
            </nav>
        </figure>
        <!--end less: s_breadcrumbs.less -->

        <!-- less: s_news-list.less -->
        <figure class="my_bonuses">
            <header>
                <h1>{{ 'Прошедшие Акции'|trans({}, 'promotions') }}</h1>
            </header>
            <article>
                <SECTION class="table_block">
                    <table style="width: 100%" >
                        <thead>
                        <tr>
                            <td>{{ 'Названия'|trans({}, 'promotions') }}:</td>
                            <td>{{ 'Дата начала'|trans({}, 'promotions') }}:</td>
                            <td>{{ 'Дата окончения'|trans({}, 'promotions') }}:</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for promotion in list %}
                            <tr>
                                <td><a href="{{ path('promotions_view', {id:promotion.id}) }}">{{ promotion.translate.name }}</a></td>
                                <td>{{ promotion.startDate|format_date }}</td>
                                <td>{{ promotion.endDate|format_date }}</td>

                            </tr>
                        {% else %}
                            <tr style="border-bottom: none;">
                                <td>{{ 'нет записей'|trans({}, 'promotions') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </SECTION>
            </article>

            <!-- less: s_pagination.less -->
            <nav class="paginator">
                {{ knp_pagination_render(list) }}
            </nav>

            <!--end less: s_pagination.less -->
        </figure>


        {% include "@front/layout/right_cabinet_menu.html.twig" %}
        <div ctyle="clear:both;"></div>
        <!--end less: s_news-list.less -->

        <!-- less: s_seotext.less -->
        {% include "@front/layout/seo_text.html.twig" %}
        <!--end less: s_seotext.less -->
    </section>

{% endblock %}