{#<a href="{{ content.url }}"><img src="{{ asset('media/image/' ~ content.image.path) }}" alt="{{ content.description }}" /></a>#}
<li>
    <a href="{{ content.url }}">
        <img src="{{ asset('media/image/' ~ content.image.path) }}" alt="{{ content.description }}" title="
                            <aside>
                            <div class='name'>Турнир <span>'<a>Время покера</a>'</span></div>
                             <div class='fond'>Призовой фонд: <span>$250.00</span></div>
                             <div class='begin'>Начало: <span>18 окт. 22:24</span></div>
                             <div class='finish'>Окончание: <span>20 окт. 22:24</span></div>
                              </aside>"/>
    </a>
</li>
