{% include "@front/layout/header.html.twig" %}
<section>
<!-- less: s_breadcrumbs.less -->
<figure class="breadCrumbs">
    <nav>
        <span><a href="{{ path('front_homepage') }}">VulkanoGames</a></span>
        <span><a href="{{ path('lotteries_list') }}">{{ 'Лотереи'|trans({}, 'lotteries') }}</a></span>
        <span>{{ 'spring'|trans({}, 'lottery_year') }}</span>
    </nav>
</figure>

<div class="lottery_Spring lottery_user_Spring">
<div class="lottery-bannerBlock">
    {% if app.request.locale == "ru" %}
    <img src="{{ asset('assets/images/lottery/spring/banner_ru.jpg') }}">
    {% else %}
    <img src="{{ asset('assets/images/lottery/spring/banner_en.jpg') }}">
    {% endif %}
</div>
<div class="lottery-title">
    {{ 'our_winners'|trans({}, 'lottery_year') }}
</div>

    {% if app.request.locale == "ru" %}
    <div class="lottery-content_bg">
    {% else %}
        <div class="lottery-content_bg eng">
    {% endif %}

<div style="height: 311px; position: relative;">
    <div class="number-position1 number-style">94-552d1a30b5d5d</div>
    <div class="user-position1 user-style">misticuswow</div>
</div>
{% if app.request.locale == "ru" %}
<h2>Джанкет-тур в Лондон <br/>
    Казино Park Tower Casino</h2>
{% else %}
<h2>Junket tour to London - <br/>
    Park Tower Casino</h2>
{% endif %}
<div class="lottery-block lottery-block1">
    <div class="lottery-post_left">
        <div class="number-position2 number-style">05-552d1a30b5d96</div>
        <div class="user-position2 user-style">Cons</div>
        <h3>Dell Alienware 18</h3>
        {% if app.request.locale == "ru" %}
        <p>Экран 18.4" (1920x1080) Full HD LED, глянцевый / Intel Core i7-4910MQ (2.9 - 3.9 ГГц) / RAM 16 ГБ
            / HDD 1 ТБ + SSD 256 ГБ mSATA / 2 x nVidia GeForce GTX 860M, 2 x 8 ГБ SLI / Blu-ray / LAN /
            Wi-Fi / Bluetooth / веб-камера / Windows 8.1 64bit SL / 5.47 кг</p>
        {% else %}
        <p>Display 18.4" (1920x1080) Full HD LED, glossy / Intel Core i7-4910MQ (2.9 - 3.9 GHz) / RAM 16
            Gb / HDD 1 Tb + SSD 256 Gb mSATA / 2 x nVidia GeForce GTX 860M, 2 x 8 Gb SLI / Blu-ray / LAN
            / Wi-Fi / Bluetooth / web-camera / Windows 8.1 64bit SL / 5.47 kg</p>
        {% endif %}
    </div>
    {% if app.request.locale == "ru" %}
        <div style="height: 209px"></div>
    {% else %}
        <div style="height: 212px"></div>
    {% endif %}

    <div class="lottery-post_right">
        <div class="number-position3 number-style">97-552d1a30b5daa</div>
        <div class="user-position3 user-style">zoza555</div>
        <h3>Apple A1567 iPad Air 2</h3>
        {% if app.request.locale == "ru" %}
        <p>Экран 9.7" IPS (2048x1536) емкостный Multi-Touch / Apple A8X (1.5 ГГц) / RAM 2 ГБ / 128 ГБ
            встроенной памяти / 3G / 4G / EV-DO / Wi-Fi / Bluetooth 4.0 / основная камера 8 Мп, фронтальная
            - 1.2 Мп / A-GPS / ГЛОНАСС / iOS 8 / 444 г / серый</p>
        {% else %}
        <p>Display 9.7" IPS (2048x1536) Capacitive Multi-Touch screen / Apple A8X (1.5 GHz) / RAM 2 Gb /
            128 Gb built-in memory / 3G / 4G / EV-DO / Wi-Fi / Bluetooth 4.0 / main camera 8 Mp, front
            camera - 1.2 Mp / A-GPS / GLONASS / iOS 8 / 444 g / Space Grey</p>
        {% endif %}
    </div>
</div>
<div class="lottery-block lottery-block2">
    <div class="lottery-post_left">
        <h3>Sony HDR-AS100V</h3>
        <div class="number-position4 number-style">34-552d1a30b5db0</div>
        <div class="user-position4 user-style">mist</div>
        {% if app.request.locale == "ru" %}
        <p>Экран 18.4" (1920x1080) Full HD LED, глянцевый / Intel Core i7-4910MQ (2.9 - 3.9 ГГц) / RAM 16 ГБ
            / HDD 1 ТБ + SSD 256 ГБ mSATA / 2 x nVidia GeForce GTX 860M, 2 x 8 ГБ SLI / Blu-ray / LAN /
            Wi-Fi / Bluetooth / веб-камера / Windows 8.1 64bit SL / 5.47 кг</p>
        {% else %}
        <p>Matrix (light sensor): 1/2.3” (7.76 mm) Exmor R CMOS matrix with reverse illumination<br/>
            Pixel amount: 18.9 Mp<br/>
            Effective pixels (photo/video): 13.5 Mp<br/>
            Media type: Flash memory<br/>
            Video resolution: Full HD (1920x1080)</p>
        {% endif %}
    </div>
    {% if app.request.locale == "ru" %}
        <div style="height: 232px"></div>
    {% else %}
        <div style="  height: 200px;"></div>
    {% endif %}

    <div class="lottery-post_right">
        <div class="number-position5 number-style">77-552d1a30b5dc3</div>
        <div class="user-position5 user-style">twistigroman</div>
        <h3>Apple iPhone 6 Plus 128GB </h3>
        {% if app.request.locale == "ru" %}
        <p>Экран 5.5" Retina (1920x1080, сенсорный емкостный, Multi‑Touch) / моноблок / Apple A8 / камера 8
            Мп + фронтальная 1.2 Мп / Bluetooth 4.0 / Wi-Fi 802.11 a/b/g/n/ac / 1 ГБ оперативной памяти /
            128 ГБ встроенной памяти / NFC / 3G / LTE / GPS / GLONASS / разъем 3.5 мм / iOS 8 / 158.1 x 77.8
            x 7.1 мм, 172 г / золотистый</p>
        {% else %}
        <p>Display 5.5" Retina (1920x1080, Capacitive Multi-Touch screen) / monoblock / Apple A8 / 8 Mp
            camera + 1.2 Mp front camera / Bluetooth 4.0 / Wi-Fi 802.11 a/b/g/n/ac / 1 Gb RAM / 128 GB
            built-in memory / NFC / 3G / LTE / GPS / GLONASS / 3.5 mm outlet / iOS 8 / 158.1 x 77.8 x
            7.1 mm, 172 g / gold</p>
        {% endif %}
    </div>
</div>
{% if app.request.locale == "ru" %}
<div class="lottery-block lottery-block3">
    {% else %}
    <div class="lottery-block lottery-block3" style="padding-top: 219px;">
        {% endif %}
        <div class="lottery-post_left">
            <div class="number-position6 number-style">82-552d1a30b5dce</div>
            <div class="user-position6 user-style">bernard584</div>
            <h3>Microsoft Xbox One 500GB</h3>
            {% if app.request.locale == "ru" %}
                <p>Процессор: Центральный: AMD Jaguar<br/>
                    Графический: AMD Radeon<br/>
                    Оперативная память: DDR3: 8192 МБ (2133 МГц)<br/>
                    ESRAM: 32 МБ<br/>
                    Жесткий диск: 500 ГБ</p>
            {% else %}
                <p>Процессор: Центральный: AMD Jaguar<br/>
                    Графический: AMD Radeon<br/>
                    Оперативная память: DDR3: 8192 МБ (2133 МГц)<br/>
                    ESRAM: 32 МБ<br/>
                    Жесткий диск: 500 ГБ</p>
            {% endif %}

        </div>
        <div style="height: 211px"></div>
        <div class="lottery-post_right">
            <div class="number-position7 number-style">06-552d1a30b5ddf</div>
            <div class="user-position7 user-style">rsock14</div>
            <div class="number-position8 number-style">76-552d1a30b5de5</div>
            <div class="user-position8 user-style">cuswow</div>
            <h3>sWaP Social Black</h3>
            {% if app.request.locale == "ru" %}
                <p>Тип: часы-телефон; Совместимость: Android; Форма дисплея: прямоугольная; Дисплей: цветной;
                    Дисплей ("): 1.54; Сенсорный экран; ОС: Android; Интерфейс подключения: Bluetooth v.3; Звуковой
                    сигнал; Вибрация; SMS; Вызовы; Цифровая камера; Wi-Fi; Ёмкость аккумулятора (мАч): 500; Съемный
                    ремешок</p>
            {% else %}
                <p>Type: smart watch; Compatible with Android; Display form: square; Display: color; Display ("): 1.54;
                    Touchscreen; OS: Android; Connection Interface: Bluetooth v.3; Signal sound; Vibration; SMS; Calls;
                    Digital camera; Wi-Fi; Battery capacity (mAh): 500; Detachable strap</p>
            {% endif %}
        </div>
    </div>

    <div class="lottery-block lottery-block4">
        <div class="lottery-post_left">
            <div class="number-position9 number-style">88-552d1a30b5deb</div>
            <div class="user-position9 user-style">tic</div>
            <div class="number-position10 number-style">02-552d1a30b5df1</div>
            <div class="user-position10 user-style">smeshnoi.kalambur</div>
            <div class="number-position11 number-style">51-552d1a30b5df7</div>
            <div class="user-position11 user-style">samiy.jadrioniy</div>
            <h3>Sennheiser RS 220 </h3>
            {% if app.request.locale == "ru" %}
            <p>Тип: беспроводные; Длина кабеля/радиус действия (м): 100; Вес (г): 329; Конструкция: накладные,
                открытые; Номинальное сопротивление (Ом): 150; Частотный диапазон (Гц): 16-22000;
                Чувствительность (дБ): 106; Регулировка громкости;</p>
            {% else %}
            <p>Type: wireless; Cable length/coverage range (m): 100; Weight (g): 329; Construction: overhead,
                opened; Rated resistance (Om): 150; Frequency range(Hz): 16-22000; Sensitivity (dB): 106; Volume
                adjusting</p>
            {% endif %}
        </div>
        <div style="height: 184px;"></div>
        <div class="lottery-post_right">
            <div class="number-position12 number-style">41-552d1a30b5dfd</div>
            <div class="user-position12 user-style">krutojperets</div>
            <div class="number-position13 number-style">86-552d1a30b5e04</div>
            <div class="user-position13 user-style">velichko</div>
            <div class="number-position14 number-style">24-552d1a30b5e14</div>
            <div class="user-position14 user-style">Sanya_v</div>
            <h3>PocketBook InkPad 840 </h3>
            {% if app.request.locale == "ru" %}
            <p>Диагональ дисплея: 8"<br/>
                Разрешение: 1600x1200<br/>
                Тип матрицы: E Ink Pearl<br/>
                Количество градаций серого: 16<br/>
                Встроенная память: 4 ГБ<br/>
                Воспроизведение медиафайлов: Аудио<br/>
                Вес: 350 г</p>
            {% else %}
            <p>Display: 8"<br/>
                Definition: 1600x1200<br/>
                Matrix: E Ink Pearl<br/>
                Shades of grey: 16<br/>
                Built-in memory: 4 Gb<br/>
                Playable media files: Audio<br/>
                Weight: 350 g</p>
            {% endif %}
        </div>
    </div>

</div>

</section>
{% include "@front/layout/footer.html.twig" %}