{% extends "@front/layout.html.twig" %}

{% block content %}

    <section class="header-content tools_b">
        <h1>{{ 'withdraw'|trans({}, 'payment') }}</h1>
    </section>

    <article class="withdraw">
        {% for paySystem in paySystems %}
            <a href="{{ path('profile_withdrawal_requisites', {paySystemId: paySystem.id}) }}">
                <div>
                    <img src="{{ asset('assets/mobile_img/') }}pay_img{{ paySystem.id }}.png" alt="{{ paySystem.name }}"/>
                </div>
                <div>
                    <span>{{ paySystem.name }}</span>
                </div>
            </a>
        {% endfor %}

    </article>

{% endblock %}