{% trans_default_domain "users" %}
<div style="padding: 10px 15px 0;">
    {% if error %}
        <p class="warning" style="display: block;">{{ error.message }}</p>
    {% endif %}

</div>

<form action="{{ path('user_login_check') }}" method="post" class="form-horizontal" id="f_login">
    <div class="control-group">
        <label for="nameLogin" class="control-label">{{ 'form_username'|trans }}:</label>
        <div class="controls">
            <input type="text" required="required" name="_username" class="form-control" id="nameLogin" value="{{ last_username }}">
        </div>
    </div>
    <div class="control-group">
        <label for="nameLogin" class="control-label">{{ 'form_password'|trans }}:</label>
        <div class="controls">
            <input type="password" required="required" name="_password" class="form-control" id="passLogin">
        </div>
    </div>
    <div class="control-group">
        <div class="controls too__btn">
            <button type="submit" id="btn_login">{{ 'login'|trans }}</button>
      <button type="submit" data-toggle="modal" href="#register" class="red__btn regBtn">{{ 'register'|trans }}</button>
        </div>

    </div>
    <div class="control-group row">
        {#<div class="offset1">#}
            {#<label class="control-label">Войти через:</label>#}

            {#<div class="controls">#}
                {#<img src="{{ asset('assets/images/icons_soc.png') }}" alt="#">#}

            {#</div>#}
        {#</div>#}

    </div>
<script>
    $(document).ready(function() {
        var frm = $('#f_login');
        var options = {
            target:        '#form_login',
            beforeSubmit:  showRequest,
            success:       showResponse,
            type: frm.attr('method'),
            dataType:  'json',
            url: frm.attr('action')

        };
        $('#f_login').submit(function() {
            $(this).ajaxSubmit(options);
            return false;
        });
    });
    function showRequest(formData, jqForm, options) {
        $('.loadajax').show();
    }

    // post-submit callback
    function showResponse(responseText, statusText, xhr, $form)  {
        $('.loadajax').hide();
        if (responseText.result == 'form') {
            $('#form_login').html(responseText.form.html);
        }
        if (responseText.result == 'redirect') {
            var url = responseText.redirect.url;
            $(location).attr('href',url);
        }
    }
</script>
</form>