{% extends "@front/layout.html.twig" %}
 {% block seo %}
     {{ parent() }}
     <title>{{ 'Прошедшие Турниры'|trans({}, 'tournaments') }}</title>
 {% endblock %}
{% block content %}
    <section>
            <!-- less: s_breadcrumbs.less -->
        <figure class="breadCrumbs">
            <nav>
                <span><a href="{{ path('front_homepage') }}">VulkanoGames</a></span>
                <span><a href="{{ path('tournaments_list') }}">{{ 'Турниры'|trans({}, 'tournaments') }}</a></span>
                <span>{{ 'Прошедшие Турниры'|trans({}, 'tournaments') }}</span>
            </nav>
        </figure>
            <!--end less: s_breadcrumbs.less -->

            <!-- less: s_news-list.less -->
            <figure class="my_bonuses">
                <header>
                    <h1>{{ 'Прошедшие Турниры'|trans({}, 'tournaments') }}</h1>
                </header>
                <article>
                    <SECTION class="table_block">
                        <table style="width: 100%" >
                            <thead>
                            <tr>
                                <td>{{'Названия'|trans({}, 'tournaments') }}:</td>
                                <td>{{'Дата начала'|trans({}, 'tournaments') }}:</td>
                                <td>{{'Дата окончения'|trans({}, 'tournaments') }}:</td>
                                <td>{{'Призовой фонд'|trans({}, 'tournaments') }}:</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tournament in list %}
                                <tr>
                                    <td><a href="{{ path('tournaments_view', {id:tournament.id}) }}">{{ tournament.translate.name }}</a></td>
                                    <td>{{ tournament.startDate|format_date }}</td>
                                    <td>{{ tournament.endDate|format_date }}</td>
                                    <td>{{ tournament.funds.amount }} {{ tournament.funds.currency }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </SECTION>
                </article>
                <!-- less: s_pagination.less -->
                <nav class="paginator">
                    {{ knp_pagination_render(list) }}
                </nav>

                <!--end less: s_pagination.less -->
            </figure>
        {% if not is_granted('ROLE_USER') %}


        {% else %}
            {% include "@front/layout/right_cabinet_menu.html.twig" %}
        {% endif %}
            <div style="clear:both;"></div>
            <!--end less: s_news-list.less -->

            <!-- less: s_seotext.less -->
            {% include "@front/layout/seo_text.html.twig" %}
            <!--end less: s_seotext.less -->
        </section>
{% endblock %}
